Body {
  background-image: url("bg.jpg");
  color: white;
}
.Posts {
  display: inline-flex;
}
input {
  background-color: grey;
}
img {
  width: 485px;
  height: auto;
  margin: 5px;
}
.Post {
  color: black;
  width: 500px;
  height: auto;
  border-style: solid;
  border-width: medium;
  justify-content: center;
  margin: 50px;
}

.Post-title {
  text-align: center;
}
.Post-entry {
  border: solid;
  width: 700px;
  height: 100px;
}
